@import "~antd/dist/antd.less";

.logo {
  position: fixed;
  bottom: 8px;
  left: 16px;
  z-index: 999;

  img {
    width: 220px;
  }
}

.menu {
  position: fixed;
  top: 8px;
  left: 16px;
  z-index: 999;
  background-color: fade(@secondary-color, 75%);
  color: #fff;
  font-weight: 900;
  font-size: 24px;
}
