@import "~antd/dist/antd.less";

@primary-color: #7f3dc7; // primary color for all components
@secondary-color: #2cb758;
@link-color: @secondary-color; // link color
@success-color: #2cb758; // success state color
@warning-color: #f66f42; // warning state color
@error-color: #e94332; // error state color
@yellow-color: #f7ed89;

@font-size-base: 16px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary : rgba(0, 0, 0, .45); // secondary text color
@disabled-color : rgba(0, 0, 0, .25); // disable state color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers
@font-family: "Open Sans";
