.map__popup {
  .ant-card,
  .ant-card-meta-description {
    width: 100%;
    max-width: 220px;
  }

  .leaflet-popup-content {
    margin: 0;
    padding: 0;
  }
  .leaflet-popup-content-wrapper {
    padding: 0;
  }
}

.map__popup-card {
  border-radius: 10px;
  overflow: hidden;
}
